<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE_DEBUG" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}] %green(%-5level) [%-20(%replace(%file){'\..*',''}):%-4line] [%thread] - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="CONSOLE_INFO" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}] %green(%-5level) [%-20(%replace(%file){'\..*',''}):%-4line] [%thread] - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="CONSOLE_WARN" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}] %yellow(%-5level) [%-20(%replace(%file){'\..*',''}):%-4line] [%thread] - %yellow(%m%n)</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="CONSOLE_ERROR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}] %red(%-5level) [%-20(%replace(%file){'\..*',''}):%-4line] [%thread] - %red(%m%n)</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <logger name="io.github.labyrinthgenerator" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE_DEBUG" />
        <appender-ref ref="CONSOLE_INFO" />
        <appender-ref ref="CONSOLE_WARN" />
        <appender-ref ref="CONSOLE_ERROR" />
    </logger>

</configuration>
