<configuration>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/MyApplication.log</file>
        <append>false</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/MyApplication.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}] %-5level [%-20(%file):%-4line] [%thread] - %m%n</pattern>
        </encoder>
    </appender>

    <!--appender name="CONSOLE_DEBUG" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}] %green(%-5level) [%-20(%replace(%file){'\..*',''}):%-4line] [%thread] - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender-->

    <appender name="CONSOLE_INFO" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE_INFO_IMPL"/>
    </appender>

    <appender name="CONSOLE_INFO_IMPL" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}] %green(%-5level) [%-20(%file):%-4line] [%thread] - %m%n
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="CONSOLE_WARN" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE_WARN_IMPL"/>
    </appender>

    <appender name="CONSOLE_WARN_IMPL" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}] %yellow(%-5level) [%-20(%file):%-4line] [%thread] - %yellow(%m%n)
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="CONSOLE_ERROR" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE_ERROR_IMPL"/>
    </appender>

    <appender name="CONSOLE_ERROR_IMPL" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}] %red(%-5level) [%-20(%file):%-4line] [%thread] - %red(%m%n)
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <logger name="io.github.labyrinthgenerator" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
        <!--appender-ref ref="CONSOLE_DEBUG" /-->
        <appender-ref ref="CONSOLE_INFO"/>
        <appender-ref ref="CONSOLE_WARN"/>
        <appender-ref ref="CONSOLE_ERROR"/>
    </logger>

    <!--root level="DEBUG">
        <appender-ref ref="DEFAULT-ASYNC" />
    </root-->
</configuration>
